# Ansible manageged. Local modifactions may overwritten.

[Allow admins to shutdown from XRDP]
Identity=unix-group:{{ permitted_groups | join(';unix-group:') }}
Action=org.freedesktop.login1.power-off
ResultAny=yes

[Allow admins to reboot from XRDP]
Identity=unix-group:{{ permitted_groups | join(';unix-group:') }}
Action=org.freedesktop.login1.reboot
ResultAny=yes
